@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 400;
    color: black;
}
#nav {
    font-family: Gudea, sans-serif;
    color: rgb(133, 133, 133);
    font-size: 30px;
    margin-left: 30%;
    margin-right: 30%;
}

/* headings and logo */

h1, h2 {
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
}
#logo {
    float: left;
    font-size: 400%;
    padding-left: 9%;
    padding-right: 9%;
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
    padding-top: 8%;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 4px solid black;
    color:black;
    padding: 6px 10px;
    font-size: 40px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;
}

/* skyline image */

#skyline-image {
    height: 400px;
    max-width: 100%;
    padding-top: 30%;
    background: url(images/skyline.img.jpg) no-repeat center center;
}

/* Introduction */

#introduction {
    font-family: Permanent Marker,sans-serif;
    color: black;
    padding-right: 15%;
    padding-left: 15%;
    font-size: 300%;
    text-align: center;
}

#bar-section {
    font-family: Gudea,sans-serif;
    color: black;
    padding-top: 20%;
    font-size: 60%;
    width: 45%;
    float: left;
}

#background {
    background: url(images/background.jpg) no-repeat center center;
    padding-top: 1%;
    padding-bottom: -20%;
    height: 50%;
    width: 60%;
    opacity: 25%;
    position: absolute;
    left: -1%;
    top: 170%;
}

#bar-image {
    background: url(images/bar.jpg) no-repeat center center;
    padding-top: 50%;
    padding-left: 5%;
    float: left;
    width: 45%;
    border-radius: 70%;
    
}

#street-food-section {
    font-family: Gudea,sans-serif;
    color: black;
    padding-top: 17.5%;
    font-size: 60%;
    width: 50%;
    float: left;
}

#background-sf {
    background: url(images/background.jpg) no-repeat center center;
    padding-top: 17.5%;
    height: 40%;
    width: 64%;
    opacity: 25%;
    position: absolute;
    right: -1%;
    top: 230%;
}

#street-food-image {
    background: url(images/satay.jpg) no-repeat center center;
    padding-top: 45%;
    padding-left: 5%;
    float: left;
    width: 45%;
    border-radius: 70%;
}

#background-n {
    background: url(images/background.jpg) no-repeat center center;
    padding-top: 20%;
    height: 40%;
    width: 64%;
    opacity: 31%;
    position: absolute;
    left: 15%;
    top: -8%;
}

#nature-section {
    font-family: Gudea,sans-serif;
    color: black;
    font-size: 60%;
    width: 35%;
    float: left;
    position:absolute;
    top: 320%;
}

#nature-image {
    background: url(images/nature.jpg) no-repeat center center;
    padding-top: 70%;
    padding-left: 5%;
    float: left;
    width: 45%;
    border-radius: 200%;
}


/* animates mirror effect in mid-section images */

#bar-image:hover {
    transform: scaleX(-1);
  }

#street-food-image:hover {
    transform: scaleX(-1);
  }

#nature-image:hover {
    transform: scaleX(-1);
  }

  
/* Media queries */

    /* for small screen sizes from 800px wide and down */
    @media screen and (max-width: 800px) {
        #logo {
            position: absolute; top: 0;
            text-align: center;
            margin-right: 35%;
            margin-left: 35%;
            margin-bottom: 5%;
            font-size: 330%;
            width: 50%;
        }
    
        #menu {
            text-align: center;
            width: 180%;
            font-size: 100%;
            padding-top: 70%;
            padding-bottom: 20%;
            padding-right: 50%;
            padding-left: 0;   
        }
        #skyline-image {
            width: 200%;
        }

    /* for medium screen sizes from 950px wide and down */
    @media screen (min-width: 801px) and (max-width: 950px){
        #logo {
            position: absolute; top: 0;
            text-align: left;
            background-color: red;
        }
    
        #menu {
            margin-left: -15%;
            margin-right: 50%;
            margin-top: 100%;
            margin-bottom: 5%;
            width: 130%;
            text-align: center; 
        }

    /* for medium screen sizes from 1200px wide and down */
     @media screen and (max-width: 1200px) {
        #logo {
            position: absolute; top: 0;
            text-align: center;
            margin-right: 20%;
            margin-left: 20%;
    }
    
        #menu {
        margin-left: -15%;
        margin-right: 50%;
        margin-top: 60%;
        margin-bottom: 5%;
        width: 130%;
        text-align: center; 
     }


    

