@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 300;
    color: black;
}

/* headings and logo */

h1, h2 {
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
}
#logo {
    float: left;
    font-size: 300%;
    padding-top: 5%;
    padding-left: 3%
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 4px solid #f44336;
    color: #f44336;
    padding: 6px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;

}
