@import url('https://fonts.googleapis.com/css2?family=Gudea&family=Permanent+Marker&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
body {
    font-family: Gudea, sans-serif;
    font-weight: 300;
    color: black;
}
#nav {
    font-family: Gudea, sans-serif;
    font-weight: 1000;
    color: white;
}

/* headings and logo */

h1, h2 {
    font-family: Permanent Marker,sans-serif;
    letter-spacing: 2px;
    color: black;
}
#logo {
    float: left;
    font-size: 400%;
    padding-left: 3%
}
#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu li {
    float: right;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border: 4px solid #f7987f;
    color:white;
    padding: 6px 10px;
    font-size: 20px;
    letter-spacing: 1px;
    position: relative;
    outline: none;
    background-color: transparent;
    display: table;
}

/* skyline image */

#skyline-image {
    height: 500px;
    max-width: 100%;
    background: url(images/skyline-img.jpg) no-repeat center center;
    =

, 
}
